/*@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'puls4';
	src:url('fuentes/puls4.eot');
	src:url('fuentes/puls4.eot?#iefix') format('embedded-opentype'),
		url('fuentes/puls4.woff') format('woff'),
		url('fuentes/puls4.ttf') format('truetype'),
		url('fuentes/puls4.svg#puls4') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls4';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-flecha-arriba:before {
	content: "\e600";
}
.icon-flecha-abajo:before {
	content: "\e601";
}
.icon-estrella:before {
	content: "\e602";
	margin-right: .5em;
	position: relative;
	top: .1em;


}
.icon-lapiz:before {
	content: "\e603";
	margin-right: .5em;
}


a
{
	color: #22BCE0;
}
aside
{
	display: none;
}
body
{
	background: #EEEEEE;
	/*font-family: 'open_sansregular';*/
	font-family: 'Open Sans', sans-serif;
	/*font-family: Arial;*/
	font-size: 16px;
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}
footer p:first-child
{	
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}
header
{
	background: #344B54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}
header figure
{
	float: left;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0;
}
header #avatar
{
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px;
}
header #logo
{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
}
header #logo img
{
	/*-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);*/
	/*-webkit-transition:.5s;*/
	transition:.5s;
	width: 52px;
}
header #logo img:hover{
	/*-webkit-transform: rotate(360deg);*/
	transform: rotate(360deg);
}

nav
{
	background:  #5B8BCD; /* #80BCA3 */
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0 6em 0 .5em;
}
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition:.3s;
}
nav ul li a:hover{
	background: #344B54;
}
nav ul #publicar_nav
{
	position: absolute;
	right: 0;
	top: -0.1em;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
nav ul #publicar_nav a:hover{
	box-shadow: 0 0 30px yellow;
}

nav ul #publicar_nav a.disabled {
	background-color: grey;
	cursor: default;
	box-shadow: none;
}
#contenido
{
	margin: 1em; 
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}
#contenido .item .autor_item
{
	color: #AAA;
}
#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
}
#contenido .item .datos_item .fecha_item
{
	color: #AAA;
	float: right;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#contenido .item .imagen_item
{
	float: left;
	margin-right: 1em;
}
#contenido .item .imagen_item img
{
	width: 96px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 0;
	padding: 1em 1em 0 0;
}
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px; 
	padding: 0.5em 1em;
	position: absolute;
	right: 3%;
	top: 100%;
}
#contenido .item .votacion a
{
	text-decoration: none;
}
#contenido .item .votacion .guardar_item
{
	color: #FFBE2C;
}
#contenido .item .votacion .down
{
	color: #DD4F24
}
#contenido .item .votacion .up
{
	color: #22BC68;
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float: right;
}


/**
 * Formularios
 */
.formulario{
	text-align: right;
	padding: 1em;
	display: none;
}
.formulario input{
	border-radius: 5px;
	padding: 0.2em 0.6em;
}
.formulario input[type="text"],
.formulario input[type="url"]{
	border: 1px solid #888;
}
.formulario input[type="submit"]{
	background: #22BCE0;
	border: 1px solid #22BCE0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	color: white;
}

@media screen and (min-width: 800px){

	#contenido
	{
		overflow: hidden;
	}
	#contenido .item 
	{
		width: 49%;
		float: left;
	}
	#contenido .item:nth-child(odd){
		margin-right: 2%;
	}

}

@media screen and (min-width: 1000px){
	aside
	{
		display: block;
		float: right;
		margin:1em;
		width: 25%;
	}
	aside video
	{
		width: 100%;
	}


}




