<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,188},{92,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,57}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{92,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,57}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,122},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,240},{91,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,57}}</string>
                <key>sourceSize</key>
                <string>{91,57}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,181},{92,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,57}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,62},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>invader1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,43}}</string>
                <key>sourceSize</key>
                <string>{97,43}</string>
            </dict>
            <key>invader2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,143},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>invader2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>invader3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>invader3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,282},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>invader4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,409},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>invader4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,382},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>powerup-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,355},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,354},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,299},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>powerup-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,327},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,438},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>powerup-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,299},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyanCatTextureAtlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8744aac4b8d8ee1d3477fd9bdfdcf44:1/1$</string>
            <key>textureFileName</key>
            <string>nyanCatTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
