<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,353},{184,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,114}}</string>
                <key>sourceSize</key>
                <string>{184,114}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,469},{183,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,114}}</string>
                <key>sourceSize</key>
                <string>{183,114}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,350},{188,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,114}}</string>
                <key>sourceSize</key>
                <string>{188,114}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{188,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,114}}</string>
                <key>sourceSize</key>
                <string>{188,114}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,237},{188,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,114}}</string>
                <key>sourceSize</key>
                <string>{188,114}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{183,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,114}}</string>
                <key>sourceSize</key>
                <string>{183,114}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{188,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,114}}</string>
                <key>sourceSize</key>
                <string>{188,114}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,120},{188,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,115}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{188,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,116}}</string>
                <key>sourceSize</key>
                <string>{188,116}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{188,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,115}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>invader1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>invader2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,89},{117,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,85}}</string>
                <key>sourceSize</key>
                <string>{117,85}</string>
            </dict>
            <key>invader2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{117,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,85}}</string>
                <key>sourceSize</key>
                <string>{117,85}</string>
            </dict>
            <key>invader3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,263},{128,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,85}}</string>
                <key>sourceSize</key>
                <string>{128,85}</string>
            </dict>
            <key>invader3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,176},{128,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,85}}</string>
                <key>sourceSize</key>
                <string>{128,85}</string>
            </dict>
            <key>invader4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,885},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>invader4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,798},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>powerup-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{106,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{106,103}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,881},{104,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,540},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>powerup-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,585},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{104,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,692},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,650},{104,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{104,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,650},{104,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{104,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>powerup-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,650},{104,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyanCatTextureAtlas-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe4afffe15e1bb8d6dbf2e3c50a78567:1/1$</string>
            <key>textureFileName</key>
            <string>nyanCatTextureAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
