body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}
header
{
	background: #434343;
	color: white;
	padding: 0.5em;
	text-align: left;
}
header figure, header h1
{
	display: inline-block;
	vertical-align: top;
}
header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 0 0 1em;
	width: 60%;
}
header #avatar
{
	margin: 1em 1em 0 0;
	float: right;
}
header #avatar figcaption
{
	background: #22BCE0;
	display: inline-block;
	float: right;
	height: 50px;
	padding: 0 2px;
}
header #avatar img
{
	float: left;
	width: 50px;
}
header #logo img
{
	width: 80px;
}
#contenido .item .imagen_item img 
{
	width: 96px;
}


