@font-face{font-family:'iconitos';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
a{color:#dd4f24}
body{background:#e8e8e8;color:#444;font-family:Arial;font-size:16px}
footer{background:#dd4f24;color:rgba(255,255,255,0.5);padding:1em 0;text-align:center;width:100%;}
footer h3{font-size:14px;font-weight:normal;}
footer h3 strong{display:block}
footer h3 .mejor:before,footer h3 .mejor:after{content:" - "}
header{background:#444;box-shadow:0 5px 0 rgba(0,0,0,0.2);color:#fff;overflow:hidden;padding:.5em;position:relative;z-index:2;}
header .logo{border-right:1px solid #22bce0;float:left;width:60px;}
header .logo img{width:52px}
header .titular{margin:0 80px 0 70px;}
header .titular .filtro{color:#22bce0;font-size:14px;font-style:italic;font-weight:bold;text-decoration:none}
header .titular .publicar{background:#dd4f24;color:#fff;float:right;font-style:italic;padding:.2em .5em;text-decoration:none;text-shadow:1px 1px 0 #000;}
header .titular .publicar:before{content:"\e600";display:inline-block;font-family:"iconitos";margin:0 3px 0 0;text-shadow:none}
header .titular .titulo{font-size:18px;font-weight:normal;margin:0;padding:0}
header .usuario{position:absolute;right:10px;top:10px;}
header .usuario .avatar{margin:0 1.1em 0 0;position:relative;z-index:69;}
header .usuario .avatar img{border-radius:50%;width:50px}
header .usuario .flechita{background:#dd4f24;color:#fff;display:block;padding:2px;position:absolute;right:0;text-align:right;text-decoration:none;top:15px;width:50%;z-index:0;}
header .usuario .flechita:after{content:"\e602";display:block;font-family:"iconitos";margin:1px 0 0 1px;text-shadow:1px 1px 0 #000}
nav{background:#22bce0;border-left:15px solid #fff;position:relative;}
nav:before{border-bottom:20px solid transparent;border-left:7px solid #fff;border-top:20px solid transparent;content:"";left:0;position:absolute;top:0}
nav .menu{height:40px;line-height:40px;margin:0;padding:0;overflow-x:auto;white-space:nowrap;}
nav .menu::-webkit-scrollbar{display:none}
nav .menu li{display:inline-block;}
nav .menu li a{color:#fff;display:block;margin:0 .5em;padding:0 .2em;text-decoration:none;}
nav .menu li a:hover{background:rgba(0,0,0,0.1)}
.posts{padding:.5em;}
.posts .post{background:#fff;border-radius:0 0 .5em .5em;box-shadow:2px 2px 10px rgba(0,0,0,0.5);color:#7a7a7a;margin-bottom:.5em;}
.posts .post .acciones{border-top:3px solid #22bce0;padding:.5em;overflow:hidden;}
.posts .post .acciones .datos{float:right;}
.posts .post .acciones .datos .comentarios{background:#444;border-radius:3px;color:#fff;margin:0 1em 0 0;padding:2px 5px;text-decoration:none}
.posts .post .acciones .datos .estrellita{text-decoration:none;}
.posts .post .acciones .datos .estrellita:after{color:#fcb92d;content:"\e601";font-family:"iconitos";font-size:1.1em}
.posts .post .acciones .votos{float:left;}
.posts .post .acciones .votos .down,.posts .post .acciones .votos .up{text-decoration:none;}
.posts .post .acciones .votos .down:before,.posts .post .acciones .votos .up:before{font-family:"iconitos";font-size:1.5em;vertical-align:middle}
.posts .post .acciones .votos .down{color:#f00;}
.posts .post .acciones .votos .down:before{content:"\e602"}
.posts .post .acciones .votos .up{color:#008000;}
.posts .post .acciones .votos .up:before{content:"\e603"}
.posts .post .descripcion .detalles{height:160px;margin-left:130px;}
.posts .post .descripcion .detalles .autor{margin:.5em 0 2em 0}
.posts .post .descripcion .detalles .fecha{float:right;margin:0 1em 0 0}
.posts .post .descripcion .detalles .tag{background:#22bce0;border-radius:.5em;color:#fff;padding:.2em .5em;text-decoration:none}
.posts .post .descripcion .detalles .titulo{color:#444;font-size:18px;font-style:italic;margin:0;padding:.5em .5em 0 0}
.posts .post .descripcion .imagen{float:left;}
.posts .post .descripcion .imagen img{height:160px;vertical-align:top;width:120px}
@media screen and (min-width: 768px){header .titular .publicar{font-size:1.1em;padding-left:3em;position:relative;}
header .titular .publicar:before{left:0;font-size:2.5em;position:absolute;top:-10px}
.posts .post{display:inline-block;width:48%;vertical-align:top;}
.posts .post:nth-child(odd){margin-right:2%}
}