a
	color #00F

a:visited
	color #00D

// section, div, article
// 	border 1px solid red

body
	color #333
	font-family Arial
	font-size 16px
	text-align left

header
	background #222
	color #ddd
	margin 0
	padding 0.5em
	position fixed
	width 100%

header img
	width 100%

header h1
	font-size 20px
	font-weight normal
	margin 0 0 0 0
	padding 0

header #avatar, header #logo, header #titulo_nav
	vertical-align top
	display inline-block

header #avatar
	height 40px
	width 40px

header #avatar a
	background #444
	display block
	margin 0
	padding 3px
	text-decoration none

header #logo
	height 40px
	width 40px

header #titulo_nav
	width 70%

header #titulo_nav nav a
	color white
	border-bottom 4px solid white
	border-left 1px solid white
	border-right 1px solid white
	font-size 0.8em
	padding 0 1em
	text-decoration none

header #titulo_nav nav a:hover
	border-bottom 4px solid #aaa
	border-left 1px solid #aaa
	border-right 1px solid #aaa

#contenido
	padding-top 60px

#contenido .item
	margin 0 0 1em 0

#contenido .item .autor
	margin -3em 0 0 15%

#contenido .item .autor p
	display inline

#contenido .item .votos, #contenido .item .titulo_item
	display inline-block
	vertical-align top

#contenido .item .titulo_item
	width 80%
#contenido .item .titulo_item figure
	float right

#contenido .item .votos
	width 14%

#contenido .item h2
	font-size 16px






