a
	color #00F

a:visited
	color #00D

body
	color #333
	font-family "Arial"
	font-size 16px
	text-align left

header
	background #222
	border-bottom 3px solid #0AF
	color #DDD
	margin 0
	padding 0.5em
	position fixed
	width 100%

	img
		width 100%

	h1
		font-size 20px
		font-weight normal
		margin 0
		padding 0

	#avatar, #logo, #titulo_nav 
		display inline-block
		vertical-align top

	#avatar, #logo
		height 40px
		width 40px

	#avatar a
		background #444
		display block
		margin 0
		padding 3px
		text-decoration none

	#titulo_nav 
		width 70%

	#titulo_nav nav a
		color white
		border-bottom 4px solid #0AF
		border-left 1px solid #0AF
		border-right 1px solid #0AF
		font-size 0.8em
		padding 0.1em 1em
		text-decoration none

	#titulo_nav nav a:hover
		border-color white

#contenido
	padding-top 4em