<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Mejorando la web</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Filter Functionality with CSS3" />
        <meta name="keywords" content="filter, css3, portfolio, functionality" />
        <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/u/71613/mexico/css/style1.css" />
        <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/u/71613/mexico/css/demo.css" />
		<script type="text/javascript" src="https://dl.dropbox.com/u/71613/mexico/js/modernizr.custom.29473.js"></script>
    </head>
    <body>
        <div class="container">
            
			<header>
				<h1>Mejorando la web <span>Python</span></h1>
				<p class="codrops-demos">
					<a class="current-demo" href="/">Lista</a>
					<a href="/agregar">Agregar</a>
				</p>
			</header>
			
			
			{% block section %}
			{% endblock %}
        </div>
    </body>
</html>