<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blueBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,314},{108,310}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{108,310}}</string>
			<key>sourceSize</key>
			<string>{108,310}</string>
		</dict>
		<key>buttonCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,932},{79,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,83}}</string>
			<key>sourceSize</key>
			<string>{79,83}</string>
		</dict>
		<key>greenBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,0},{118,298}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{118,298}}</string>
			<key>sourceSize</key>
			<string>{118,298}</string>
		</dict>
		<key>cloud1.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,932},{75,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,45}}</string>
			<key>sourceSize</key>
			<string>{75,45}</string>
		</dict>
		<key>cloud2.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,910},{64,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{64,41}}</string>
			<key>sourceSize</key>
			<string>{64,41}</string>
		</dict>
		<key>numbersBalloons.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,974},{43,53}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{43,53}}</string>
			<key>sourceSize</key>
			<string>{43,53}</string>
		</dict>
		<key>orangeBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{118,314}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,314}}</string>
			<key>sourceSize</key>
			<string>{118,314}</string>
		</dict>
		<key>purpleBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,298},{114,302}}</string>
			<key>offset</key>
			<string>{2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{114,302}}</string>
			<key>sourceSize</key>
			<string>{114,302}</string>
		</dict>
		<key>redBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,624},{108,308}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{108,308}}</string>
			<key>sourceSize</key>
			<string>{108,308}</string>
		</dict>
		<key>yellowBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,600},{108,310}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{108,310}}</string>
			<key>sourceSize</key>
			<string>{108,310}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>balloonGameScene.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0d0f2731cb2a9feb37e2bc6f2261b8aa$</string>
		<key>textureFileName</key>
		<string>balloonGameScene.png</string>
	</dict>
</dict>
</plist>
