<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blueBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1244},{211,617}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,6},{211,617}}</string>
			<key>sourceSize</key>
			<string>{211,617}</string>
		</dict>
		<key>buttonCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1861},{158,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,165}}</string>
			<key>sourceSize</key>
			<string>{158,165}</string>
		</dict>
		<key>greenBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,0},{233,593}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,16},{233,593}}</string>
			<key>sourceSize</key>
			<string>{233,593}</string>
		</dict>
		<key>cloud1.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,1861},{150,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,90}}</string>
			<key>sourceSize</key>
			<string>{150,90}</string>
		</dict>
		<key>cloud2.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,1300},{127,79}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{127,79}}</string>
			<key>sourceSize</key>
			<string>{127,79}</string>
		</dict>
		<key>numbersBalloons-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,1194},{84,106}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{84,106}}</string>
			<key>sourceSize</key>
			<string>{84,106}</string>
		</dict>
		<key>orangeBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{235,627}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,627}}</string>
			<key>sourceSize</key>
			<string>{235,627}</string>
		</dict>
		<key>purpleBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,593},{227,601}}</string>
			<key>offset</key>
			<string>{4,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{227,601}}</string>
			<key>sourceSize</key>
			<string>{227,601}</string>
		</dict>
		<key>redBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,1194},{213,611}}</string>
			<key>offset</key>
			<string>{5,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,5},{213,611}}</string>
			<key>sourceSize</key>
			<string>{213,611}</string>
		</dict>
		<key>yellowBalloon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,627},{213,617}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,5},{213,617}}</string>
			<key>sourceSize</key>
			<string>{213,617}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>balloonGameScene-hd.png</string>
		<key>size</key>
		<string>{512,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:df1ad97362f3335a9cc0c37492b8049c$</string>
		<key>textureFileName</key>
		<string>balloonGameScene-hd.png</string>
	</dict>
</dict>
</plist>
