body 
{
	background: #222;
	color: #EEE;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}
header
{
	background: url("logo.png") no-repeat 98% center, 
				url("fondo.png");
	background-size: 90px, 100px 100px;
	box-shadow: rgba(0,0,0,0.7) 0px 5px 10px;
	margin: 0 0 1em 0;
	padding: 1em 0;
	width: 100%;
}
header h1
{
	font-size: 2em;
	margin: 0;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
}
header h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
}
nav
{
	background: rgba(60, 60, 180, 0.8);
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
}
nav ul
{
	list-style: none;
}
nav ul li
{
	display: inline-block;
}
nav ul li a
{
	background: #D23D15;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 1s ease;
}
nav ul li a:hover
{
	background: white;
	color: black;
	transform: scale(1.2) rotate(-365deg);
}

#cochecito
{
	background: white;
	color: #222;
	text-align: left;
	width: 50%;
}
#cochecito img
{
	width: 100%;
}
#cochecito figcaption
{
	margin: 1em;
}
#cochecito, #historia
{
	display: inline-block;
	vertical-align: top;
}
#historia
{
	background: rgba(0,0,0,0.6);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	display: inline-block;
	margin: 0 2% 7em 1em;
	padding: 1em;
	text-align: justify;
	text-shadow: rgba(0,0,0,0.7) 2px 2px 5px;
	transition: all 1s ease;
	width: 40%;
}
#personalizacion
{
	background: rgba(0,0,0,0.8);
	border-radius: 0.5em;
	box-shadow: rgba(255,255,255,0.5) 5px 5px 10px inset;
	display: inline-block;
	height: 0;
	margin: 0 0 6em 2%;
	opacity: 0;
	overflow: hidden;
	padding: 1em 1em 0;
	transition: all 1s ease;
	vertical-align: top;
	width: 0;
}
#personalizacion article
{
	background: rgba(255,255,255,0.9);
	border-radius: 0.5em;
	color: #333;
	margin: 0 0 1em 0;
	padding: 0.5em;
}
#personalizacion h2
{
	margin-top: 0;
}
#personalizacion #color div
{
	border: 3px solid #ccc;
	cursor: pointer;
	display: inline-block;
	height: 3em;
	margin: 0.5em 1%;
	opacity: 0.7;
	transition: all 0.5s ease;
	vertical-align: top;
	width: 27%;
}
#personalizacion #color div:hover
{
	border: 4px solid black;
	opacity: 1;
	transform: scale(1.1);
}
#personalizacion #color #amarillo
{
	background: #EEA024;
}
#personalizacion #color #azul
{
	background: #166CEB;
}
#personalizacion #color #blanco
{
	background: #DCDCDC;
}
#personalizacion #color #negro
{
	background: #121212;
}
#personalizacion #color #rojo
{
	background: #9F001C;
}
#personalizacion #color #verde
{
	background: #6CB944;
}
#personalizacion #llantas figure,
#personalizacion #techo figure
{
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1em;
	cursor: pointer;
	display: inline-block;
	margin: 0 2% 1em;
	padding: 1%;
	vertical-align: top;
	width: 40%;
}
#personalizacion #llantas figure:hover img
{
	transform: rotate(360deg);
}

#personalizacion #llantas figure img,
#personalizacion #techo figure img
{
	transition: all 1s ease;
	max-width: 100%;
}