<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Puls3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/estilos.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/jquery-1.9.1.min.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.js"></script>
    </head>
    <body>

        <header>
            <figure id="header_logo">
                <a href=""><img src="img/logo.png" alt="logo"></a>
            </figure>
            <div id="header_titulo">
                <h2>Puls3 - Dolor Sit amet</h2>
                <nav>
                    <ul>
                        <a href=""><li>Home</li></a>
                        <a href="https://github.com/agreencow/puls3"><li>GitHub</li></a>
                    </ul>
                </nav>
            </div>
            <figure id="header_user">
               <a href=""><img src="img/user.jpg"></a> 
            </figure>
        </header>   

        <section id="contenido">

            <aside>
                <div id="aside_header">
                    <span aria-hidden="true" class="icon-arrow-down"></span>
                    <h3>Alorium menu plus</h3>
                </div>
                <div id="aside_body">
                    <p>
                       Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens. Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams. Pestilentia est plague haec decaying ambulabat mortuos. Sicut zeder apathetic malus voodoo. 
                    </p>
                </div>
            </aside>

            {% for post in posts %}
                <article class="contenido_item">
                    <figure>
                        <a href="#"><img src="{{ post.image }}"></a>
                    </figure>
                    <div class="item_info">
                        <h2>{{ post.title }}</h2>
                        <p class="item_posted">Posted by <a href="#">{{ post.user }}</a></p>
                        <span aria-hidden="true" class="icon-heart-2"></span>
                    </div>
                    <div class="item_extra">
                        <p class ="extra_tag">{{ post.tag }}</p>
                        <div class="extra_likes">
                            <a class="likes_up" href="#"><span aria-hidden="true" class="icon-arrow-up"></span></a>
                            <div class="likes_numero">{{ post.votes }}</div>
                            <a class="likes_down" href="#"><span aria-hidden="true" class="icon-arrow-down"></span></a>
                        </div>
                    </div>
                </article>
            {% endfor %}

        </section>

        <script src="js/main.js"></script>
    </body>
</html>
