gris_oscuro = #444
gris_claro = lighten(gris_oscuro, 40%)

footer
	background-color gris_claro
	color white
	padding 1em

header
	background-color gris_oscuro
	color white
	padding 1em

	h1
		font-size 18px
		font-weight normal
		padding 0
		margin 0

	.logo figure
		border 1px dashed invert(gris_oscuro)
		height 52px
		width 52px

	.usuario
		.avatar
			border 1px dashed invert(gris_oscuro)
			border-radius 50%
			height 50px
			width 50px

section
	padding 1.2em

	article
		border 1px solid gris_claro
		border-bottom-left-radius 0.8em
		border-bottom-right-radius 0.8em
		margin-bottom 1.2em
		overflow hidden

		figure
			background-color gris_claro
			height 160px
			width 120px

		h2
			font-size 18px
			color gris_oscuro

		.acciones
			border-top 3px solid gris_claro
			min-height 3em
			padding 0.8em

		.fecha
			position relative
			right 20px











