<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="grid.js"></script>
    <script type="text/javascript" src="keymaster.js"></script>
    <script type="text/javascript" src="root.js"></script>
</head>
<body>
    <h1>{{titulo}}</h1>
    <div id="grid"></div>
</body>
</html>