@media screen and (min-width:768px)
	#contenido
		#nota
			float right
			width 20%
			height auto
			-webkit-transition none
		.item
			display inline-block
			vertical-align top
			width 32%

@media screen and (min-width:1280px)
	#contenido
		.item
			width 20%