@font-face {
    font-family: 'Cvanderoso';
    src: url('Mothproof_Script-webfont.eot');
    src: url('Mothproof_Script-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mothproof_Script-webfont.woff') format('woff'),
         url('Mothproof_Script-webfont.ttf') format('truetype'),
         url('Mothproof_Script-webfont.svg#MothproofScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
	background: #222;
	color: #EEE;
	font-family: "Open Sans", Arial;
	font-size: 16px;
	text-align: center;
}
header
{
	background: url("logo.png") no-repeat 95% center,
				url("fondo.png");
	background-size: 200px ,100px 100px;
	margin: 0 0 1em 0;
	padding: 0.5em 0;
	width: 100%;
}
header h1
{
	font-family: "Cvanderoso";
	margin: 0;
	text-shadow: rgba(255,255,255,0.5) 5px 5px 10px;
}
header h2
{
	margin: 0;
	font-weight: normal;
	text-shadow: rgba(0,0,0,0.7) 2px 2px 5px;
}
nav
{
	background: rgba(60,60,180,0.8);
	bottom: 0;
	color: #EEE;
	font-size: 1.5em;
	left: 0;
	padding: 1em 0;
	position: fixed;
	width: 100%;
}
nav ul 
{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li
{
	display: inline-block;
}
nav li a
{
	background: #D23D15;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.5s ease;
}
nav li a:hover
{
	background: #fff;
	color: black;
	transform: scale(1.2) rotate(-5deg);
}
#cochecito
{
	background: white;
	color: #222;
	text-align: left;
	width: 50%;
}
#cochecito figcaption
{
	margin: 1em;
}
#cochecito img
{
	width: 100%;
}
#cochecito, #historia
{
	display: inline-block;
	vertical-align: top;
}
#historia
{
	background: rgba(0,0,0,0.6);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	margin: 0 2% 7em 1em;
	padding: 1em;
	text-align: left;
	transition: all 1s ease;
	width: 40%;
}
#personalizacion
{
	background: rgba(0,0,0,0.8);
	border-radius: 0.5em;
	box-shadow: rgba(255,255,255,0.2) 5px 5px 10px inset;
	display: inline-block;
	height: 0;
	margin: 0 0 6em 2%;
	padding: 1em 1em 0;
	opacity: 0;
	overflow: hidden;
	transition: all 1s ease;
	vertical-align: top;
	width: 0%;
} 
#personalizacion article
{
	background: rgba(255,255,255,0.9);
	border-radius: 0.5em;
	margin: 0 0 1em 0;
	padding: 0.5em;
	color: #333;
}
#personalizacion h2
{
	margin-top: 0;
}
#personalizacion #color div
{
	border: 3px solid #ccc;
	cursor: pointer;
	display: inline-block;
	height: 2em;
	margin: 0.5em 1%;
	opacity: 0.8;
	transition: all 0.5s ease;
	vertical-align: top;
	width: 27%;
}
#personalizacion #color div:hover
{
	border: 3px solid black;
	opacity: 1;
	transform: scale(1.1);
}
#personalizacion #color #amarillo
{
	background: #EEA024;
}
#personalizacion #color #azul
{
	background: #166CEB;
}
#personalizacion #color #blanco
{
	background: #DCDCDC;
}
#personalizacion #color #negro
{
	background: #121212;
}
#personalizacion #color #rojo
{
	background: #9F001C;
}
#personalizacion #color #verde
{
	background: #6CB944;
}
#personalizacion #llantas figure, #personalizacion #techo figure
{
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1em;
	cursor: pointer;
	display: inline-block;
	margin: 0 2% 1em;
	padding: 1%;
	vertical-align: top;
	width: 40%;
}
#personalizacion #llantas figure:hover img
{
	transform: rotate(360deg);
}
#personalizacion #llantas figure img, 
#personalizacion #techo figure img
{
	transition: all 0.5s ease;
	width: 100%;
}