@media screen and (min-width:768px)
	#contenido
		#nota
			float right
			font-size 1em
			height auto
			width 20%
		#nota:hover
			height auto
		.item
			display inline-block
			vertical-align top
			width 30%

			.titulo_item a
				font-size 0.9em
				font-weight normal

@media screen and (min-width:1280px)
	#contenido
		.item
			width 20%